.el-tabs__item {
	padding: 0 40px;
	height: 60px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 60px;
	display: inline-block;
	list-style: none;
	font-size: 28px;
	font-weight: 500;
	color: #303133;
	position: relative
}